@import "color";

nav {
    height: 3rem;

    padding: 1rem;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.229);
    justify-content: space-between;
    background-color: white;
    display: flex;

    >div {
        text-align: center;
        display: flex;


        >svg {
            color: $red;
            font-size: 3rem;
        }

        >a {
            margin: 0 2rem;
            color: $red;
            font-weight: bold;
            transition: color 0.3s;
            cursor: pointer;
            border: none;
            padding: 0.5rem 1.25rem;
            border: 1px solid $red;
            border-radius: 10px;

            &:hover {
                color: white;
                border: 1px solid $lightdark;
                padding: 0.5rem 1.25rem;
                border-radius: 10px;
                background-color:$red;
            }

            >svg {
                font-size: 1.5rem;
        
            }


        }

    }

}
@media screen and (max-width:600px) {
    nav {
        padding: 0.5rem;

        >div>a {
            margin: 0 0.5rem;
            padding: 0;
            color: dark;
            transition: color 0.3s ;
            border: none;
            &:hover{
                color: white;
                padding: 5px;
                border: none;
                border: 1px solid $red;
        
            }

        }
    }

}